/*Обнулення стилів*/
@import url("reset.css");

body {
    background: var(--bg, #131313);
    font-family: "Detroit";
    font-weight: 400;
    color: #fff;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

[class*="__container"] {
    max-width: 1660px;
    margin: 0 auto;
    padding: 0px 15px;
}

@media (max-width: 1600px) {
    [class*="__container"] {
        max-width: 1310px;
    }
}

@media (max-width: 1439.98px) {
    [class*="__container"] {
        max-width: 1210px;
    }
}

@media (max-width: 1280px) {
    [class*="__container"] {
        max-width: 1100px;
    }
}

@media (max-width: 1120px) {
    [class*="__container"] {
        max-width: 989px;
    }
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        padding: 0px;
        max-width: 100%;
    }
}

.title {
    font-size: 96px;
    line-height: normal;
    letter-spacing: 9.6px;
    padding-bottom: 160px;
    text-align: center;
}

.title span {
    color: #99449F;
}

@media (max-width: 1100px) {
    .title {
        padding-bottom: 120px;
    }
}

@media (max-width: 767.98px) {
    .title {
        font-size: 64px;
        letter-spacing: 6.4px;
        padding-bottom: 80px;
    }
}

@media (max-width: 467.98px) {
    .title {
        padding-bottom: 60px;
    }
}

/*----------------------------------------------------------------------*/
/*Header*/
/*----------------------------------------------------------------------*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: url('../img/transparent.png') no-repeat center center / cover;
    transition: background 0.4s ease-in-out;
    opacity: 1;
}

.header.scrolled {
    background: url('../img/nav_bg-2.png') no-repeat center center / cover;
}

.header__container {
    display: flex;
    min-height: 72px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

.header__menu {
    flex: 1 1 auto;
}

.icon-menu {
    display: none;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.menu__link {
    display: block;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    cursor: default;
    transition: color 0.3s ease 0s;
}

.menu__link:hover {
    color: #e5e5e5;
}

@media (max-width: 767.98px) {
    .menu__link {
        font-size: 20px;
    }

    .header {
        background: url('../img/nav_bg.png') no-repeat center center / cover;
        ;
    }

    .header__container {
        min-height: 47px;
    }
}

@media (max-width: 539px) {
    .menu__link {
        font-size: 17px;
    }
}

@media (max-width: 479.98px) {
    .menu__link {
        font-size: 16px;
    }
}

@media (max-width: 465px) {
    .menu__link {
        font-size: 14px;
    }
}

@media (max-width: 422px) {
    .menu__link {
        font-size: 11.5px;
    }
}

@media (max-width: 370px) {
    .menu__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 36px;
        row-gap: 10px;
        text-align: center;
        padding: 5px 0px;
    }

    .menu__link {
        font-size: 12px;
    }
}

/*----------------------------------------------------------------------*/
/*------main-----*/
/*----------------------------------------------------------------------*/
.main {
    background: url('../img/main/background.svg') no-repeat center center / cover;
    padding-top: 263px;
}

.main__texts {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;

}

.main__text {
    font-family: "Lexend Giga";
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -2px;
}

.main__title {
    font-size: 230px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 18.4px;
}

.main__image-block {
    margin-top: -200px;
    display: block;
    text-align: center;
    height: 688px;
}

.main__image {
    max-height: 100%;
}

@media (max-width: 1720px) {
    .main {
        padding-top: 220px;
    }

    .main__texts {
        gap: 40px;
    }

    .main__text {
        font-size: 54px;
    }

    .main__title {
        font-size: 168px;
    }

    .main__image-block {
        margin-top: -148px;
    }
}

@media (max-width: 1439.98px) {
    .main {
        padding-top: 120px;
    }

    .main__text {
        font-size: 54px;
    }

    .main__title {
        font-size: 150px;
    }

    .main__image-block {
        margin-top: -128px;
    }
}

@media (max-width: 1290px) {
    .main__text {
        font-size: 46px;
    }

    .main__title {
        font-size: 104px;
    }

    .main__image-block {
        margin-top: -96px;
    }
}

@media (max-width: 991.98px) {
    .main {
        padding-top: 365px;
    }

    .main__text {
        font-size: 40px;
        letter-spacing: -3px;
    }

    .main__texts {
        gap: 40px;
    }

    .main__title {
        font-size: 96px;
        letter-spacing: 7.68px;
    }

    .main__image-block {
        margin-top: 71px;
        height: 658px;
    }
}

@media (max-width: 767.98px) {
    .main__text {
        font-size: 29px;
    }

    .main__title {
        font-size: 60px;
    }

    .main__image-block {
        margin-top: -50px;
    }

    .main__image-block {
        margin-top: 51px;
        max-height: 450px;
    }
}

@media (max-width: 560px) {
    .main__text {
        font-size: 25px;
    }

    .main__title {
        font-size: 56px;
    }

    .main__image-block {
        margin-top: 40px;
        height: 446px;
    }
}

@media (max-width: 468px) {
    .main {
        padding-top: 397px;
    }

    .main__text {
        font-size: 24px;
        letter-spacing: -4;
    }

    .main__texts {
        gap: 20px;
    }

    .main__title {
        font-size: 55px;
        letter-spacing: 4.8px;
    }

    .main__image-block {
        margin-top: 30px;
        height: 350px;
    }
}

@media (max-width: 435px) {
    .main__text {
        font-size: 18px;
    }

    .main__title {
        font-size: 35px;
        letter-spacing: 4.8px;
    }

    .main__image-block {
        margin-top: 10px;
        height: 300px;
    }
}

/*----------------------------------------------------------------------*/
/*------story-----*/
/*----------------------------------------------------------------------*/
.story {
    position: relative;
    padding-top: 160px;
    padding-bottom: 140px;
}

.story__container {
    justify-content: center;
}

.story__text {
    max-width: 100%;
    font-family: Lexend Giga;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: normal;
}

.story__text p {
    max-width: 1023px;
    margin: 0 auto;
}

@media (max-width: 1600px) {
    .story__text p {
        max-width: 920px;
    }
}

@media (max-width: 1600px) {
    .story__text p {
        max-width: 800px;
    }
}

@media (max-width: 991.98px) {
    .story__text {
        font-size: 24px;
    }

    .story {
        padding-top: 100px;
        padding-bottom: 110px;
    }

    .story__text p {
        max-width: 780px;
    }
}

@media (max-width: 767.98px) {
    .story__text {
        font-size: 20px;
    }

    .story {
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .story__text p {
        max-width: 586px;
    }
}

@media (max-width: 600px) {
    .story__text {
        font-size: 18px;
    }

    .story__text p {
        max-width: 540px;
    }
}

@media (max-width: 467.98px) {
    .story__text {
        font-size: 15px;
    }

    .story {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .story__text p {
        max-width: 413px;
    }
}

.story__graphics {
    position: absolute;
    z-index: -1;
}

.story__graphics:first-child {
    top: 87px;
    left: 342px;
}

.story__graphics:nth-child(2) {
    top: 117px;
    right: 75px;
}

.story__graphics:nth-child(3) {
    left: 0;
    top: 329px;
}

@media (max-width: 1720px) {
    .story__graphics:first-child {
        top: 83px;
        left: 270px;
    }

    .story__graphics:nth-child(2) {
        top: 92px;
        right: 75px;
    }

    .story__graphics:nth-child(3) {
        left: 0;
        top: 339px;
    }
}

@media (max-width: 1600px) {
    .story__graphics:first-child {
        top: 80px;
        left: 180px;
        width: 55px;
    }

    .story__graphics:nth-child(2) {
        top: 100px;
        right: 75px;
        width: 100px;
    }

    .story__graphics:nth-child(3) {
        left: 0;
        top: 349px;
        width: 300px;
    }
}

@media (max-width: 1439.98px) {
    .story__graphics:first-child {
        top: 83px;
        left: 270px;
    }

    .story__graphics:nth-child(2) {
        top: 92px;
        right: 75px;
    }

    .story__graphics:nth-child(3) {
        left: 0;
        top: 339px;
    }
}

@media (max-width: 1290px) {
    .story__graphics:first-child {
        top: 83px;
        left: 150px;
        width: 50px;
    }

    .story__graphics:nth-child(2) {
        top: 90px;
        right: 65px;
        width: 90px;
    }

    .story__graphics:nth-child(3) {
        left: 0;
        top: 360px;
        width: 250px;
    }
}

@media (max-width: 991.98px) {
    .story__graphics:first-child {
        top: 22px;
        right: 0;
        left: auto;
        width: 58px;
    }

    .story__graphics:nth-child(2) {
        top: 440px;
        left: 10px;
        width: 68px;
    }

    .story__graphics:nth-child(3) {
        display: none;
    }
}

@media (max-width: 467.98px) {
    .story__graphics:first-child {
        top: 16px;
        width: 34px;
    }

    .story__graphics:nth-child(2) {
        top: 323px;
        left: 9px;
        width: 50px;
    }
}

@media (max-width: 380px) {
    .story__graphics:first-child {
        top: 16px;
        width: 34px;
    }

    .story__graphics:nth-child(2) {
        top: 400px;
        left: 9px;
        width: 50px;
    }
}


/*----------------------------------------------------------------------*/
/*------characters-----*/
/*----------------------------------------------------------------------*/
.characters {
    padding-bottom: 200px;
}

.characters__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 73px;
}

.characters__item-images {
    position: relative;
}

.characters__item-image {
    border-radius: 20px;
    border: 3px solid #D616A1;
    overflow: hidden;
}

.characters__item:nth-child(2) .characters__item-image {
    border-color: #4D098C;
}

.characters__item:nth-child(3) .characters__item-image {
    border-color: #590E7B;
}

.characters__item:nth-child(4) .characters__item-image {
    border-color: #C300E3;
}

.characters__item:nth-child(5) .characters__item-image {
    border-color: #FF4AFF;
}

.characters__item:nth-child(6) .characters__item-image {
    border-color: #7B149E;
}

.characters__item-character {
    width: 100%;
    transition: all 1s ease 0s;
}

.character__1:hover {
    transform: scale(1.3) translateY(10%);
}

.character__2:hover {
    transform: scale(1.3) translateY(10%);
}

.character__3:hover {
    transform: scale(1.2) translateY(8%) translateX(5%);
}

.character__4:hover {
    transform: scale(1.15) translateY(5%) translateX(5%);
}

.character__5:hover {
    transform: scale(1.3) translateY(10%);
}

.character__6:hover {
    transform: scale(1.2) translateY(8%);
}

.characters__item-vector {
    position: absolute;
    z-index: 10;
}

.vector__1 {
    max-width: 14.166667%;
    /* 76.5/540 */
    max-height: 8.486842%;
    /* 64.5/760 */
    left: 87.777778%;
    /* 474/540 */
    top: 93.684211%;
    /* 712/760 */
}

.vector__2 {
    max-width: 9.074074%;
    /* 49/540 */
    max-height: 12.631579%;
    /* 96/760 */
    left: -2.592593%;
    /* -14/540 */
    top: 77.105263%;
    /* 586/760 */
}

.vector__3 {
    max-width: 19.444444%;
    /* 105/540 */
    max-height: 15.921053%;
    /* 121/760 */
    left: 81.481481%;
    /* 440/540 */
    top: -0.657895%;
    /* -5/760 */
}

.vector__4 {
    max-width: 13.425926%;
    /* 72.5/540 */
    max-height: 4.934211%;
    /* 37.5/760 */
    left: 3.148148%;
    /* 17/540 */
    top: 96.315789%;
    /* 732/760 */
}

.vector__5 {
    max-width: 25.462963%;
    /* 137.5/540 */
    max-height: 14.539474%;
    /* 110.5/760 */
    left: 77.777778%;
    /* 420/540 */
    top: 87.236842%;
    /* 663/760 */
}

.vector__6 {
    max-width: 11.296296%;
    /* 61/540 */
    max-height: 17.236842%;
    /* 131/760 */
    left: -2.777778%;
    /* -15/540 */
    top: 19.605263%;
    /* 149/760 */
}

.vector__7 {
    max-width: 38.333333%;
    /* 207/540 */
    max-height: 4.210526%;
    /* 32/760 */
    left: 38.518519%;
    /* 208/540 */
    top: 95.789474%;
    /* 728/760 */
}

.vector__8 {
    max-width: 25.555556%;
    /* 138/540 */
    max-height: 4.736842%;
    /* 36/760 */
    left: 70.555556%;
    /* 381/540 */
    top: 0;
}

.vector__9 {
    max-width: 17.407407%;
    /* 94/540 */
    max-height: 12.039474%;
    /* 91.5/760 */
    left: -2.037037%;
    /* -11/540 */
    top: 89.736842%;
    /* 682/760 */
}

.vector__10 {
    max-width: 24.074074%;
    /* 130/540 */
    max-height: 31.842105%;
    /* 242/760 */
    left: 76.481481%;
    /* 413/540 */
    top: -0.394737%;
    /* -3/760 */
}

.vector__11 {
    max-width: 6.296296%;
    /* 34/540 */
    max-height: 13.618421%;
    /* 103.5/760 */
    left: -0.740741%;
    /* -4/540 */
    top: 39.473684%;
    /* 300/760 */
}

.characters__item-text {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.characters__item-title {
    font-size: 40px;
    letter-spacing: 4px;
    transition: all 1s ease 0s;
}

.characters__item-description {
    font-family: Lexend Giga;
    font-size: 20px;
    max-width: 469px;
    text-align: center;
}


@media (max-width: 991.98px) {
    .characters__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 73px;
    }
}

@media (max-width: 767.98px) {
    .characters__cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        row-gap: 40px;
        padding: 0px 20px;
    }

    .characters__item-text {
        margin-top: 48px;
    }

    .characters__item-description {
        max-width: 481px;
    }

    .characters__item-title {
        color: #D616A1;
    }

    .characters__item:nth-child(2) .characters__item-title {
        color: #4D098C;
    }

    .characters__item:nth-child(3) .characters__item-title {
        color: #590E7B;
    }

    .characters__item:nth-child(4) .characters__item-title {
        color: #C300E3;
    }

    .characters__item:nth-child(5) .characters__item-title {
        color: #FF4AFF;
    }

    .characters__item:nth-child(6) .characters__item-title {
        color: #7B149E;
    }
}


/*----------------------------------------------------------------------*/
/*------history-----*/
/*----------------------------------------------------------------------*/
.history {
    padding-bottom: 150px;
}

.history__cards {
    display: flex;
    flex-direction: column;
}

.history__row {
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.history__row-image-item,
.history__row-text-item {
    flex: 1 1 50%;
}

.history__row-image-item img {
    max-width: 100%;
    height: auto;
}

.history__row-text-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lexend Giga;
    font-size: 20px;
    padding: 0 44px;
    position: relative;
}

.history__row-text-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/history/02.svg") no-repeat center center / cover;
    opacity: 0.3;
    /* Прозорість зображення */
    z-index: -1;
    /* Поміщаємо фон під текстом */
}

.history__row:nth-child(2) .history__row-text-item::before {
    background: url("../img/history/03.svg") no-repeat center center / cover;
}

.history__row:nth-child(3) .history__row-text-item::before {
    background: url("../img/history/06.svg") no-repeat center center / cover;
}

.history__row:nth-child(4) .history__row-text-item::before {
    background: url("../img/history/07.svg") no-repeat center center / cover;
}

@media (max-width: 1600px) {
    .history__row-text-item {
        font-size: 18px;
    }
}

@media (max-width: 1439.98px) {
    .history__row-text-item {
        font-size: 15px;
    }
}

@media (max-width: 1250px) {
    .history__row-text-item {
        font-size: 14px;
    }
}

@media (max-width: 991.98px) {
    .history__row-text-item {
        font-size: 18px;
    }

    .history__cards {
        gap: 24px;
    }

    .history__row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 24px;
        padding: 0px 68.5px;
    }

    .history__row:nth-child(odd) .history__row-image-item {
        grid-area: 2 / 1 / 3 / 2;
        /* Поміщаємо перший елемент у другий рядок і перший стовпець */
    }

    .history__row:nth-child(odd) .history__row-text-item {
        grid-area: 1 / 1 / 2 / 2;
        /* Поміщаємо другий елемент у перший рядок і перший стовпець */
    }

    .history__row-image-item img {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .history__row-text-item {
        font-size: 20px;
        padding: 0px 68.5px;
    }

    .history__row:nth-child(2) .history__row-text-item::before,
    .history__row:nth-child(3) .history__row-text-item::before,
    .history__row:nth-child(4) .history__row-text-item::before,
    .history__row-text-item::before {
        background: none;
    }

    .history__row {
        padding: 0px;
        grid-template-rows: auto auto;
    }

    .history__cards {
        gap: 40px;
    }
}

@media (max-width: 467.98px) {
    .history__row-text-item {
        font-size: 16px;
        padding: 0px 29px;
    }

    .history__row {
        padding: 0px;
        grid-template-rows: auto auto;
        row-gap: 20px;
    }

    .history__cards {
        gap: 40px;
    }
}

@media (max-width: 390px) {
    .history__row-text-item {
        font-size: 14px;
        padding: 0px 29px;
    }

    .history__row {
        padding: 0px;
        grid-template-rows: auto auto;
        row-gap: 20px;
    }

    .history__cards {
        gap: 40px;
    }
}

.history__row-item:first-child {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s, transform 0.5s;
}

.history__row-item:last-child {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.7s;
}



.history__row-item.left-animation {
    transform: translateX(0%);
}

.history__row-item.right-animation {
    transform: translateX(0%);
}

@media (max-width: 991.98px) {
    .history__row:nth-child(odd) .history__row-item:first-child {
        transform: translateX(115%);
    }

    .history__row:nth-child(odd) .history__row-text-item {
        transform: translateX(-115%);
    }

    .history__row:nth-child(even) .history__row-text-item {
        transform: translateX(-115%);
    }

    .history__row:nth-child(even) .history__row-image-item {
        transform: translateX(115%);
    }
}

.history__row:nth-child(odd) .history__row-item.left-animation {
    transform: translateX(0%);
}

.history__row:nth-child(odd) .history__row-item.right-animation {
    transform: translateX(0%);
}

.history__row:nth-child(even) .history__row-item.left-animation {
    transform: translateX(0%);
}

.history__row:nth-child(even) .history__row-item.right-animation {
    transform: translateX(0%);
}

/*----------------------------------------------------------------------*/
/*------cards-----*/
/*----------------------------------------------------------------------*/
.cards {
    padding-bottom: 180px;
}

.cards__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    row-gap: 80px;
    column-gap: 20px;
}

.cards__item {
    position: relative;
}

.cards__item-image {
    width: 100%;
    border-radius: 7.8% 7.8% 10% 10% / 7.5% 7.5% 7% 7%;
    /* 40/603 */
    /* 40/400 */
    transition: all 0.7s ease 0s;
}

.cards__item-image:hover {
    box-shadow: 0px 0px 0px 0px rgba(113, 55, 185, 0.30), 0px 4px 10px 0px rgba(113, 55, 185, 0.29), 0px 18px 18px 0px rgba(113, 55, 185, 0.26), 0px 40px 24px 0px rgba(113, 55, 185, 0.15), 0px 70px 28px 0px rgba(113, 55, 185, 0.04), 0px 110px 31px 0px rgba(113, 55, 185, 0.01);
}

.cards__item-title {
    position: absolute;
    font-size: 24px;
    top: 2.6534%;
    /* 16/603px */
    left: 8%;
    /* 32/400px */
    transition: all 0.7s ease 0s;
    text-transform: uppercase;
}

.cards__count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: all 0.7s ease 0s;
}

.cards__item-top-count {
    top: -3.814262%;
    /* -23/603px */
    right: -5%;
    /* -20/400px */
    background: url('../img/cards/top-count.svg') no-repeat center center / cover;
    width: 22%;
    /* 88/400px */
    height: 14.593698%;
    /* 88/603px */
}

.cards__item-left-count {
    background: url('../img/cards/left-count.svg') no-repeat center center / cover;
    height: 32.669983%;
    /* 197/603px */
    width: 49.25%;
    /* 197/400px */
    top: 81.59204%;
    /* 492/603px */
    left: -19.25%;
    /* -77/400px */
}

.cards__item-right-count {
    background: url('../img/cards/right-count.svg') no-repeat center center / cover;
    height: 32.669983%;
    /* 197/603px */
    width: 49.25%;
    /* 197/400px */
    top: 81.59204%;
    /* 492/603px */
    right: -19.25%;
    /* -77/400px */
}

.cards__item-image:hover~.cards__count {
    opacity: 0;
}

.cards__item-image:hover~.cards__item-title {
    opacity: 0.8;
}

.cards__show-more {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.cards__show-more button {
    border-radius: 24px;
    background: #99449F;
    padding: 35px 133px;
    color: #fff;
    font-size: 32px;
    position: relative;
    transition: all 0.5s ease 0s;
}

.cards__show-more button:hover {
    background: #883b8d;
}

.cards__show-more button img {
    position: absolute;
}

.cards__show-more button img:first-child {
    top: -6.3px;
    left: 136px;
    stroke: #131313;
}

.cards__show-more button img:nth-child(2) {
    bottom: -1.3px;
    left: 300px;
    stroke: #131313;
}

@media (max-width: 1439.98px) {
    .cards__count {
        font-size: 25px;
    }
}

@media (max-width: 1100px) {
    .cards__items {
        row-gap: 55px;
        column-gap: 15px;
    }

    .cards__count {
        font-size: 20px;
    }

    .cards__item-title {
        font-size: 21px;
        letter-spacing: 1.3;
    }
}

@media (max-width: 991.98px) {
    .cards__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 80px;
        column-gap: 20px;
        padding-bottom: 84px;
    }

    .cards__close-item {
        display: none;
    }

    .cards__show-more {
        display: flex;
    }
}

@media (max-width: 767.98px) {
    .cards__count {
        font-size: 24px;
    }

    .cards__item-title {
        font-size: 32px;
    }

    .cards__items {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 467.98px) {
    .cards__items {
        row-gap: 48px;
        padding-bottom: 68px;
    }

    .cards__count {
        font-size: 16px;
    }

    .cards__item-title {
        font-size: 20px;
    }

    .cards {
        padding-bottom: 148px;
    }

    .cards__show-more button {
        padding: 27px 108px;
        font-size: 24px;
    }

    .cards__show-more button img:nth-child(2) {
        bottom: -1px;
        left: 238px;
        stroke: #131313;
        width: 30px
    }

    .cards__show-more button img:first-child {
        top: -5px;
        left: 108px;
        stroke: #131313;
        width: 103px;
    }
}

@media (max-width: 360px) {
    .cards__items {
        row-gap: 48px;
        padding-bottom: 48px;
    }

    .cards__count {
        font-size: 13px;
    }

    .cards__show-more button {
        padding: 24px 96px;
        font-size: 22px;
    }

    .cards__show-more button img:nth-child(2) {
        bottom: -1px;
        left: 220px;
        stroke: #131313;
        width: 30px
    }

    .cards__show-more button img:first-child {
        top: -4px;
        left: 108px;
        stroke: #131313;
        width: 96px;
    }

    .cards__item-title {
        font-size: 16px;
    }

    .cards__item-top-count {
        /* -20/400px */
        width: 35px;
    }

    .cards__item-left-count {
        height: 85px;
        top: 77%;
    }

    .cards__item-right-count {
        height: 85px;
        top: 77%;
    }
}


/*----------------------------------------------------------------------*/
/*------downloadGame-----*/
/*----------------------------------------------------------------------*/
.download {
    overflow: hidden;
    position: relative;
    padding-bottom: 440px;
}

.download__content {
    padding-top: 420px;
    display: flex;
    flex-direction: column;
    gap: 130px;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.download__button {
    border-radius: 36px;
    background: #99449F;
    padding: 50px 126px;
    color: #fff;
    font-size: 36px;
    position: relative;
    transition: all 0.5s ease 0s;
}

.download__title {
    padding: 0;
}

.download__button:hover {
    background: #883b8d;
}

.download__button img {
    position: absolute;
}

.download__button img:first-child {
    top: -0.5px;
    left: -4.5px;
    stroke: #131313;
}

.download__button img:nth-child(2) {
    bottom: -3px;
    left: 190px;
    stroke: #131313;
}

.download__button img:nth-child(3) {
    bottom: -0.5px;
    left: 403px;
    stroke: #131313;
}

.download__button img:nth-child(4) {
    top: -7px;
    right: 0;
    stroke: #131313;
}

.download__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    z-index: -1;
}

.download__image img {
    width: 106.666667%;
    /* 2048/1920 */
    height: 138.098449%;
    /* 2048/1483 */
}

.download .download__image:nth-of-type(2) img {
    margin-left: -53.333333%;
    /* -1024/1920 */
    margin-top: -2.494943%;
    /* -37/1483 */
}

.download .download__image:nth-of-type(2) {
    justify-content: start;
}

.download__image:last-child {
    justify-content: end;
}

.download__image:last-child img {
    margin-right: -53.333333%;
    /* -1024/1920 */
    margin-top: -1.011463%;
    /* -15/1483 */
}

@media (max-width: 1600px) {
    .download {
        padding-bottom: 380px;
    }

    .download__content {
        gap: 110px;
        max-width: 1100px;
        padding-top: 300px;
    }

    .download__image img {
        width: 103%;
        /* 2048/1920 */
    }

    .download__title {
        font-size: 86px;
    }

    .download__button {
        padding: 45px 120px;
    }
}

@media (max-width: 1439.98px) {
    .download {
        padding-bottom: 300px;
    }

    .download__content {
        gap: 110px;
        max-width: 1000px;
        padding-top: 300px;
    }

    .download__image img {
        width: 102%;
    }

    .download__title {
        font-size: 86px;
    }

    .download__button {
        padding: 45px 120px;
    }
}

@media (max-width: 1200px) {
    .download__content {
        max-width: 750px;
        padding-top: 0px;
    }

    .download__image img {
        width: 102%;
    }

    .download__title {
        font-size: 76px;
    }
}

@media (max-width: 987.98px) {
    .download {
        padding-bottom: 300px;
    }

    .download__content {
        gap: 110px;
        max-width: 700px;
    }

    .download__image img {
        width: 102%;
    }

    .download__title {
        font-size: 68px;
        letter-spacing: 0;
    }

    .download__button {
        padding: 40px 69px;
        border-radius: 24px;
        font-size: 32px;
    }

    .download__button img:first-child {
        display: none;
    }
    
    .download__button img:nth-child(2) {
        top: -6.3px;
        left: 136px;
        width: 129.618px;
        height: 124.584px;
        stroke: #131313;
    }
    
    .download__button img:nth-child(3) {
        bottom: -1.3px;
        left: 300px;
        width: 37.753px;
        height: 21.393px;
        stroke: #131313;
    }
    
    .download__button img:nth-child(4) {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .download {
        padding-bottom: 370px;
    }

    .download__content {
        gap: 88px;
        max-width: 640px;
        padding-top: 0;
    }

    .download__image img {
        width: 112.760417%; /* 866/768 */
        height: 100%;
    }
    
    .download .download__image:nth-of-type(2) img {
        margin-left: -61.458333%; /* -472/768 */
        margin-top: 0;
    }
    
    .download__image:last-child img {
        margin-right: -60.15625%; /* -462/768 */
        margin-top: 0;
    }
    
    .download__title {
        font-size: 64px;
    }
}

@media (max-width: 680px) {
    .download {
        padding-bottom: 340px;
    }

    .download__content {
        gap: 84px;
        max-width: 500px;
    }
    
    .download__title {
        font-size: 48px;
    }
}
@media (max-width: 600px) {
    .download {
        padding-bottom: 280px;
    }
    .download__content {
        max-width: 460px;
    }

    .download__title {
        font-size: 44px;
    }
    .download__button {
        padding: 32px 61px;
        border-radius: 20px;
        font-size: 24px;
    }

    .download__button img:first-child {
        display: none;
    }
    
    .download__button img:nth-child(2) {
        top: -5px;
        left: 108px;
        width: 103px;
        height: 99px;
        stroke: #131313;
    }
    
    .download__button img:nth-child(3) {
        bottom: -1px;
        left: 238px;
        width: 30px;
        height: 17px;
        stroke: #131313;
    }
    
    .download__button img:nth-child(4) {
        display: none;
    }
}

@media (max-width: 520px) {
    .download {
        padding-bottom: 240px;
    }
    .download__content {
        max-width: 420px;
    }

    .download__title {
        font-size: 40px;
    }
    .download__image{
        z-index:10;
    }
}

@media (max-width: 467.98px) {
    .download {
        padding-bottom: 306px;
    }

    .download__content {
        gap: 82px;
        max-width: 340px;
        padding-top: 56px;
    }

    .download__image img {
        width: 149.145299%; /* 698/468 */
        height: 100%;
    }
    
    .download .download__image:nth-of-type(2) img {
        margin-left: -83.119658%; /* -389/468 */
    }
    
    .download__image:last-child img {
        margin-right: -85.25641%; /* -399/468 */
        margin-top: 0;
    }
    
    .download__title {
        font-size: 32px;
        letter-spacing: 0;
    }
}

@media (max-width: 400px) {
    .download {
        padding-bottom: 150px;
    }

    .download__content {
        gap: 90px;
        max-width: 300px;
        padding-top: 0px;
    }
    .download__title {
        font-size: 30px;
    }
    .download__image img {
        width: 144%;
    }

    .download__button {
        padding: 30px 58px;
        border-radius: 20px;
        font-size: 20px;
    }

    .download__button img:first-child {
        display: none;
    }
    
    .download__button img:nth-child(2) {
        top: -5px;
        left: 108px;
        width: 103px;
        height: 99px;
        stroke: #131313;
    }
    
    .download__button img:nth-child(3) {
        bottom: -1px;
        left: 238px;
        width: 30px;
        height: 17px;
        stroke: #131313;
    }
    
    .download__button img:nth-child(4) {
        display: none;
    }
}


/*----------------------------------------------------------------------*/
/*------footer-----*/
/*----------------------------------------------------------------------*/
.footer {
    padding: 9px 0;
}
.footer__columns {
    display: grid;
    grid-template-columns: 56.5% auto;
    justify-content: space-between;
    align-items: center;
}
.footer__titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.footer__text {
    font-family: Lexend Giga;
    font-size: 16px;
    font-weight: 600;
}
.footer__title {
    font-size: 24px;
    letter-spacing: 1.92px;
}
.footer__cooperated {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.footer__cooperated-text {
    font-family: Lexend Giga;
    font-size: 14px;
}
.footer__cooperated-year {
    font-family: Lexend Giga;
    font-size: 14px;
    color: #99449F;
}
.footer__column:nth-child(1){
    display: flex;
    justify-content: space-between;
}
.footer__column:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 96px;
    align-items: center;
}
.footer-menu__link {
    width: 32px;
    height: 32px;
}
.footer__up a {
    border-radius: 8px;
    background: url("../img/footer/up__arrow.svg") no-repeat center center / cover;
    width: 46px;
    height: 46px;
    transition: all 0.7s ease 0s;
}
.footer-menu__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.footer-menu__link {
    display: block;
    transition: all 0.7s ease 0s;
}

.footer-menu__item:nth-child(1) a {
    background: url("../img/footer/social__inst.svg") no-repeat center center / cover;
}
.footer-menu__item:nth-child(2) a {
    background: url("../img/footer/social__twitch.svg") no-repeat center center / cover;
}
.footer-menu__item:nth-child(3) a {
    background: url("../img/footer/social__facebook.svg") no-repeat center center / cover;
}
.footer-menu__item:nth-child(4) a {
    background: url("../img/footer/social__tiktok.svg") no-repeat center center / cover;
}
.footer-menu__item:nth-child(5) a {
    background: url("../img/footer/social__twit.svg") no-repeat center center / cover;
}
.footer-menu__item:nth-child(6) a {
    background: url("../img/footer/social__youtube.svg") no-repeat center center / cover;
}
.footer-menu__item:nth-child(7) a {
    background: url("../img/footer/social__discord.svg") no-repeat center center / cover;
}
.footer__social-media-button{
    display: none;
    position: relative;
    padding: 9px 20px;
    font-size: 10px;
    background-color: #99449F;
    border-radius: 4px;
    color: #fff;
}
.footer__social-media-button img{
    position: absolute;
}
.footer__social-media-button img:nth-child(1){
    right: -0.5px;
    top: -1.5px;
}
.footer__social-media-button img:nth-child(2){
    left: 38.5px;
    bottom: 0px;
}
@media (max-width: 1439.98px) {
    .footer__column:nth-child(2) {
        gap: 56px;
    }
}

@media (max-width: 1200px) {
    .footer__column:nth-child(2) {
        gap: 46px;
    }
    .footer-menu__link {
        width: 28px;
        height: 28px;
    }
    .footer__up a {
        width: 40px;
        height: 40px;
    }

    .footer__titles {
        gap: 14px;
    }
    .footer__text {
        font-size: 14px;
    }
    .footer__title {
        font-size: 21px;
        letter-spacing: 1px;
    }
    .footer__cooperated-text {
        font-size: 13px;
    }
    .footer__cooperated-year {
        font-size: 13px;
    }
}

@media (max-width: 940px) {
    .footer {
        padding: 18px 0px 0px;
    }
    .footer__columns {
        display: grid;
        grid-template-columns: 1.05fr 2fr;
        justify-content: space-between;
        gap: 49px;
        align-items: center;
    }    
    .footer__column:nth-child(1){
        flex-direction: column;
        gap: 24px;
    }
    .footer__cooperated {
        align-items: flex-start;
    }

    .footer__column:nth-child(2) {
        justify-content: space-between;
    }

    .footer-menu__link {
        width: 32px;
        height: 32px;
    }
    .footer__up a {
        width: 46px;
        height: 46px;
    }

    .footer__titles {
        gap: 12px;
    }
    .footer__text {
        font-size: 13px;
        white-space: nowrap;
    }
    .footer__title {
        font-size: 20px;
        letter-spacing: 1.6px;
    }
    .footer__cooperated-text {
        font-size: 10px;
    }
    .footer__cooperated-year {
        font-size: 10px;
    }
}

@media (max-width: 767.98px) {
    .footer {
        padding: 18px 20px 0px;
    }
    .footer__column:nth-child(2) {
        gap: 15px;
    }
}

@media (max-width: 640px) {
    .footer__columns {
        gap: 25px;
    }    
    .footer-menu__link {
        width: 26px;
        height: 26px;
    }
    .footer__up a {
        width: 35px;
        height: 35px;
    }

    .footer__text {
        font-size: 12px;
    }
    .footer__title {
        font-size: 18px;
        letter-spacing: 1px;
    }
}

@media (max-width: 560px) {
    .footer{
        padding: 23px 31px 4px 20px;
    }
    .footer-menu__link {
        display: none;
    }
    .footer__social-media-button {
        display: block;
    }

    .footer__columns {
        grid-template-columns: 1fr 1fr;
        gap: 54px;
    }    

    .footer__up a {
        width: 29px;
        height: 29px;
        border-radius: 2px;
    }
    .footer__title {
        font-size: 16px;
        letter-spacing: 1.28px;
    }
    
    .footer__column:nth-child(1) {
        gap: 22px;
    }
}

@media (max-width: 467.98px) {
    .footer__columns {
        gap: 16px;
    }   
    .footer__social-media-button{
        padding: 8px 16px;
    }
}

@media (max-width: 400px) {
    .footer__columns {
        gap: 12px;
    }
    .footer__column:nth-child(2){
        flex-direction: column;
        align-items: flex-end;
    }
    .footer__text {
        font-size: 10px;
    }
    .footer__title {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .footer__cooperated-text {
        font-size: 8px;
    }
    .footer__cooperated-year {
        font-size: 8px;
    }
}
